@import url('https://fonts.googleapis.com/css?family=Muli');

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Muli', sans-serif;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.hide {
	display: none !important;
}

.noscroll { 
	overflow: hidden !important;
}

.media:hover {
	cursor: pointer;
}

html, body, #app {
	background-color: #15161A;
}

#pages {
	padding-top: 7vh;
}

.page:not(.active) {
	display: none;
}