.kb-navigation-selected {
	box-shadow: 0 0 0 2px white;
}

.kb-navigation-selected:not(.keyboard-key) {
	border-radius: 12px;
}

.media.kb-navigation-selected:not(.related) {
	transform: scale(1.2);
}