nav {
	z-index: 99999;
	position: fixed;
	background-color: #15161A;
	color: #E0E2E6;
	height: 7vh;
	width: 100%;

	display: grid;
	justify-items: center;
	align-items: center;
}

ol {
	width: 50%;
}

nav .navigation-item {
	display: inline;
	text-align: center;
}

nav .navigation-item span {
	display: inline-block;
	width: 33%;
	margin: 0;
}

nav .navigation-item span:hover {
	cursor: pointer;
}

hr {
	height: 3px;
	width: 33%;
	margin: 0;
	margin-top: 1vh;
	background: #EEF4F3;
	border: none;
	border-radius: 10px;
	transition: .3s ease-in-out;
}

[data-navigation="home-page"].selected ~ hr {
	margin-left: 0;
}

[data-navigation="search-page"].selected ~ hr {
	margin-left: 33%;
}

[data-navigation="favorites-page"].selected ~ hr {
	margin-left: 66%;
}