.plyr {
	object-fit: fill;
	z-index: 99999999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
}

.plyr .plyr__video-wrapper {
	width: 100%;
	height: 100%;
}

.plyr .plyr__poster {
	background-size: 100% 100%;
}

video {
	object-fit: cover;
}