::-webkit-scrollbar {
	width: 14px;
	height: 18px;
}

::-webkit-scrollbar-thumb {
	height: 6px;
	border: 4px solid rgba(49, 50, 56, 0);
	background-clip: padding-box;
	-webkit-border-radius: 7px;
	background-color: rgba(49, 50, 56, 0.25);
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-webkit-scrollbar:vertical {
	display: none;
}