#media-details-page .header {
	height: 30vh;
	color: #E0E2E6;
}

#media-details-page .content {
	min-height: 62vh;
	max-height: 62vh;
	padding-bottom: 1vh;
	color: #E0E2E6;
	/*margin: 50px;*/
}

#media-details-page .wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#media-details-page .wrapper .backdrop {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-filter: brightness(40%);
}

#media-details-page .wrapper .metadata {
	width: 40%;
	margin: 50px;
	bottom: 0;
	position: absolute;
	backdrop-filter: brightness(0);
}

#media-details-page .wrapper .metadata>* {
	margin-top: 20px;
}

#media-details-page .wrapper .metadata .title {
	margin-top: 0;
}

#media-details-page .wrapper .metadata .description {
	height: 74px;
	text-overflow: ellipsis;
}

#media-details-page .wrapper .watch-now {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#media-details-page .wrapper .details {
	font-size: 0.7rem;
}

#media-details-page .wrapper .details li {
	list-style: none;
	display: inline;
}

#media-details-page .wrapper .details li:not(:last-child):after {
	margin: 0 10px;
	content: "\2022";
}

#media-details-page .content .section .title {
	margin: 0 50px 20px 0;
	display: flex;
}

#media-details-page .content .information .section .title {
	margin-left: 50px;
}

#media-details-page .content .information .section .body {
	margin: 0 50px;
}

#media-details-page .content .section:first-of-type {
	margin-top: 50px;
}

#media-details-page .content .section .title::after {
	content: "";
	margin-left: 20px;
	background-color: #26282A;
	border-radius: 1px;
	height: 3px;
	flex: 1;
	align-self: center;
}

#media-details-page .content {
	display: grid;
	grid-template-columns: 0.5fr 1.5fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "poster information other-media" "poster information other-media";
}

#media-details-page .content div.poster {
	grid-area: poster;
}

#media-details-page .content .information {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "synopsis synopsis synopsis" "cast	 cast	cast";
	grid-area: information;
}

#media-details-page .content .information .synopsis {
	grid-area: synopsis;
}

#media-details-page .content .information .cast {
	grid-area: cast;
}

#media-details-page .content .other-media {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "videos  videos  videos" "related related related";
	grid-area: other-media;
}

#media-details-page .content .other-media .videos {
	grid-area: videos;
}

#media-details-page .content .other-media .related {
	grid-area: related;
}

#media-details-page .content div.poster .poster {
	border-radius: 5px;
	width: 222px;
	height: 316px;
	margin-top: 10%;
	margin-left: 10%;
}

#media-details-page .content .information .cast .body {
	display: block;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

#media-details-page .content .information .cast .body .cast-member {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin: 0 3px;
	/*border: solid 1px lime;*/
}

#media-details-page .content .other-media .videos .body {
	display: block;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

#media-details-page .content .other-media .videos .video {
	width: 250px;
	height: 130px;
	border-radius: 10px;
	margin: 0 5px;
}

#media-details-page .content .other-media .related .body {
	display: block;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

#media-details-page .content .other-media .related .body .media {
	display: inline-block;
	border-radius: 5px;
	width: 111px;
	height: 158px;
	margin: 0 5px;
}

#media-details-page .content .other-media .related .body .media .poster {
	overflow: hidden;
	width: 111px;
	height: 158px;
	border-radius: 5px;
}