#search-page .content {
	padding-top: 66px;
	width: 70%;
	margin: 0 auto;
	color: #747577;
}

#search-page #search-container {
	background: #2f3640;
	height: 40px;
	border-radius: 20px;
	padding: 5px;
}

#search-page #search-icon {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#search-page #search-icon > i {
	font-size: 20px;
}

#search-page #search-input {
	border: none;
	background: none;
	outline: none;
	color: #747577;
	padding: 0;
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;
	width: calc(100% - 40px);
}


#search-page .content .list {
	margin-top: 25px;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit, 132px);
	grid-gap: 25px;
}

#search-page .content .list .media {
	height: 197.25px;
	width: 132px;
	transition: transform 100ms;
	border-radius: 10px;
	background: #313238;
}

#search-page .content .list .media:hover,
#search-page .content .list .media.selected {
	border-radius: 12px;
	box-shadow: 0px 11px 25px 1px rgba(0, 0, 0, 0.50);
	transform: scale(1.2);
}

#search-page .content .list .media .poster {
	overflow: hidden;
	height: 197.25px;
	width: 132px;
	border-radius: 10px;
}